{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "max-len": 0,
    "comma-dangle": [2, "never"],
    "jsx-a11y/label-has-for": 0,
    "class-methods-use-this": 0
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "__IS_BROWSER__": true,
    "it": true,
    "describe": true,
    "afterEach": true,
    "beforeEach": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
