@import "~sass/colors";

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  margin: -1em;
}

.item {
  padding: 1em;
  color: $gray-80;
  display: flex;
}

.logo {
  background-position: center center;
  background-size: cover;
  flex-basis: 70px;
  height: 70px;
}

.content {
  margin-left: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2em;
  margin-bottom: .3em;
}

.eventTitle {
  color: $gray-60;
  font-size: .8em;
}

.description {
  margin: .5em 0;
  color: $gray-50;
}
