@import "normalize.css";

body {
  font-family: 'Helvetica', 'Lucida Grande', 'sans-serif';
  overflow-y: scroll;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
